.home-container {
  position: relative;
  width: 100%;
  height: 100vh;
}

.moon {
  width: 30%;
  position: absolute;
  //left: 60%;
  top: 15%;
  z-index: -1;
}

.star-container {
  color: rgb(255, 166, 1);
  position: absolute;
  z-index: 10;
  top: 3vw;
  right: 3vw;
}

.home-title {
  position: relative;
  left: 3%;
  color: white;
  z-index: -1;
  h1 {
    font-weight: lighter;
    position: absolute;
    font-size: 5vw;
    opacity: 0.9;
  }
  h2 {
    position: absolute;
    left: 1%;
    top: 5.5vw;
    font-size: 2vw;
    color: rgb(255, 166, 1);
    font-weight: lighter;
    filter: blur(0.04vw);
  }
  /* &:hover{
    filter: blur(0.4vw);
  } */
}

.linkToAboutPage {
  position: absolute;
  top: 3vw;
  left: 3vw;
  width: 48vw;
  height: 7vw;
  z-index: 10;
  &:hover {
    cursor: pointer;
  }
}

.dust-container {
  position: absolute;
  width: 100%;
  height: 50vh;
  z-index: -1;
  overflow: hidden;
}

i {
  position: absolute;
  background: #fff;
  border-radius: 50%;
  opacity: 0.8;
  box-shadow: 0 0 1vw 0.1vw white;
  filter: blur(0.01vw);
  animation: stars linear 2s infinite;
}

@keyframes stars {
  0% {
    opacity: 0;
    transform: translateY(0px);
  }
  10%,
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(-100px);
  }
}
