.starNav-container {
  position: absolute;
  top: 0;
  right: 2vw;
  padding: 2vw;
  width: 0;
  height: 0;
  color: gold;
  text-shadow: 0.2vw 0.2vw 0.3vw black, -0.2vw -0.2vw 0.3vw black;
  background: rgba(11, 11, 11, 0);
  border: 0.2vw solid rgba(255, 255, 255, 0);
  border-radius: 1vw;
  margin-top: 2vw;
  line-height: 8vw;
  overflow: hidden;
  z-index: 10;
  &:hover {
    cursor: pointer;
  }
  ul {
    padding: 0 2vw;
  }
  ul li {
    list-style-type: none;
    font-size: 4vw;
    font-weight: bold;
    text-align: left;
    transition: 0.2s;
    white-space: nowrap;
    &:hover {
      cursor: pointer;
      color: rgb(255, 85, 0);
    }
  }
}

.star {
  position: absolute;
  width: 4vw;
  top: 2.1vw;
  right: 2.1vw;
}

#star {
  transition: 0.7s;
  &:hover {
    transform: rotateZ(-215deg);
    cursor: pointer;
  }
}
