.yearsNav-wrapper ul {
  list-style-type: none;
  padding-left: 0;
  text-align: center;
}

.yearsNav-wrapper ul li {
  border: 0.2vw solid white;
  font-size: 3vw;
  padding: 1vw;
  &:first-child {
    border-radius: 0.5vw 0.5vw 0 0;
  }
  &:last-child {
    border-radius: 0 0 0.5vw 0.5vw;
  }
  &:hover {
    cursor: pointer;
    color: rgb(255, 166, 1);
    background: rgba(255, 255, 255, 0.177);
  }
}
