.yearsNav-wrapper ul {
  list-style-type: none;
  padding-left: 0;
  text-align: center;
  color: rgb(232, 232, 232)
}

.yearsNav-wrapper ul li {
  border: 0.2vw solid rgb(232, 232, 232);
  font-size: 3vw;
  padding: 1vw;
  &:first-child {
    border-radius: 0.5vw 0.5vw 0 0;
  }
  &:last-child {
    border-radius: 0 0 0.5vw 0.5vw;
  }
  &:hover {
    cursor: pointer;
    color: rgb(255, 144, 40);
    background: linear-gradient(
      #78787871 0%,
      #b5b5b571 25%,
      #e3e3e371 50%,
      #b5b5b571 75%,
      #78787871 100%
    );
    font-weight: 200;
  }
}
