.modalInfo-container {
  width: 80%;
  height: 100vh;
  position: relative;
  right: -20%;
  background: transparent;
  display: none;
  .moon-modal,
  .sea-modal,
  .boat-modal {
    position: absolute;
    width: 5vw;
    height: 5vw;
    &:hover {
      cursor: pointer;
    }
  }
  .moon-modal {
    left: 66%;
    top: 35%;
  }
  .sea-modal {
    left: 70%;
    top: 80%;
  }
  .boat-modal {
    left: 20%;
    top: 60%;
  }
}
