.projects-container {
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-45%);
}

.yearsNav-container {
  color: white;
  position: absolute;
  top: 50%;
  transform: translateY(-45%);
  left: 4%;
}

.projects-slider {
  width: 70%;
  height: 30vw;
  border: 0.2vw solid rgb(232, 232, 232);
  border-radius: 0.5vw;
  margin-left: 10vw;
  padding: 2vw;
  overflow-x: hidden;
  justify-content: center;
}

.projects-wrapper{
  border: 1px solid red;
  width: 500%;
}

.card{
  width: 18vw;
  height: 18vw;
  background: white;
  margin: 1vw;
}
