.projects-container {
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-45%);
}

.yearsNav-container {
  color: white;
  position: absolute;
  top: 50%;
  transform: translateY(-45%);
  left: 4%;
}

.projects-slider {
  width: 70%;
  height: 30vw;
  border: 0.3vw solid rgb(232, 232, 232);
  border-radius: 0.5vw;
  box-shadow: inset 0 0 10vw 4vw black;
  margin-left: 10vw;
  padding: 2vw;
  overflow-x: hidden;
  justify-content: center;
}

.projects-wrapper {
  width: 160vw;
}

.card {
  width: 18vw;
  height: 18vw;
  margin: 1vw;
  border: 0.4vw solid white;
  border-radius: 0.5vw;
  &:hover {
    cursor: pointer;
  }
}
