html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  background: rgb(13, 2, 44);
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-around {
  display: flex;
  justify-content: space-around;
}

.flex-center {
  display: flex;
  justify-content: center;
}

.flex-between {
  display: flex;
  justify-content: space-between;
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.border {
  border: 1px solid red;
}

.white {
  color: white;
}

// FONTS

//Sea-gardens
@font-face {
  font-family: 'sea-gardens';
  src: url('../public/fonts/sea-gardens/sea-gardens.ttf');
}

.sea-gardens {
  font-family: 'sea-gardens';
}

//Fredericka the Great
.fred {
  font-family: 'Fredericka the Great';
}

//Original-surfer
.surfer {
  font-family: 'Original Surfer';
}

.center {
  text-align: center;
}

.bold {
  font-weight: bold;
}

.underline {
  text-decoration: underline;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
