.about-container {
  position: absolute;
  top: 20%;
  left: 2%;
  height: 80%;
  color: rgb(255, 123, 0);
  font-size: 3.2vw;
  overflow-y: scroll;
  .top-text {
    width: 55%;
    margin: -5vw auto 0;
    text-shadow: 0.2vw 0.2vw 0.3vw black, -0.2vw -0.2vw 0.3vw black;
    padding: 0 3vw;
    .me {
      text-align: center;
      margin-top: 10vw;
      margin-bottom: 3vw;
    }
    p {
      margin: 8vw 0;
      line-height: 4vw;
    }
  }
}

::-webkit-scrollbar {
  width: 0;
}

@media screen and (max-width: 1400px) {
  .me {
    width: 50%;
    margin-left: 20%;
  }
}
